<p>
  <!-- #docregion toolbar-simple -->
    <mat-toolbar>
      <span></span>
    </mat-toolbar>
  <!-- #enddocregion toolbar-simple -->
  </p>
  
  
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Store</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" class="btn">
        login
       </button>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="btn">
        sign in
      </button>
    </mat-toolbar>
  </p>
  
  
  
  <!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
